[Desktop Entry]
Encoding=UTF-8
Name=Link to (4) Create a Responsive Flexbox and Grid Portfolio Website [PART 1/2] | HTML and CSS Tutorial 2019 - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=T7PnWnTgusc
Icon=text-html
